.version.external /* version checker */
{
	color: #0000EE;
	background-color: #FC3C0A;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 462px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F0F0F0;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -167px;
	width: 0.01px;
}

#u167
{
	z-index: 13;
	min-height: 114px;
	padding-bottom: 7px;
}

#u161
{
	z-index: 14;
	width: 305px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 100px;
}

#u167-bw
{
	z-index: 13;
	min-height: 114px;
}

#menuu170
{
	z-index: 17;
	width: 463px;
	margin-right: -10000px;
	left: 597px;
}

#u178
{
	width: 114px;
	min-height: 41px;
	margin-right: -10000px;
}

#u181
{
	width: 114px;
	padding-bottom: 17px;
}

#u181:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u182-4
{
	width: 114px;
	min-height: 24px;
	margin-right: -10000px;
	top: 8px;
}

#u181:hover #u182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u171
{
	width: 114px;
	min-height: 41px;
	margin-right: -10000px;
	left: 116px;
}

#u174
{
	width: 114px;
	padding-bottom: 17px;
}

#u181.MuseMenuActive,#u174:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u177-4
{
	width: 114px;
	min-height: 24px;
	margin-right: -10000px;
	top: 8px;
}

#u181.MuseMenuActive #u182-4,#u174:hover #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u186
{
	width: 114px;
	min-height: 41px;
	margin-right: -10000px;
	left: 232px;
}

#u189
{
	width: 114px;
	padding-bottom: 17px;
}

#u174.MuseMenuActive,#u189:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u189.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u190-4
{
	width: 114px;
	min-height: 24px;
	margin-right: -10000px;
	top: 8px;
}

#u174.MuseMenuActive #u177-4,#u189:hover #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u189.MuseMenuActive #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u193
{
	width: 115px;
	min-height: 41px;
	margin-right: -10000px;
	left: 348px;
}

#u196
{
	width: 115px;
	padding-bottom: 17px;
}

#u196:hover
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u196.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u197-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 8px;
}

#u196:hover #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u196.MuseMenuActive #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u168,#u168-bw
{
	z-index: 16;
	min-height: 41px;
}

#u1078
{
	z-index: 43;
	width: 791px;
	background-color: transparent;
	margin-left: 85px;
	margin-top: 25px;
	position: relative;
}

#u1084-10
{
	z-index: 45;
	width: 862px;
	min-height: 164px;
	background-color: transparent;
	text-align: justify;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 49px;
	margin-top: 15px;
	position: relative;
}

#pu95
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 4px;
}

#u95
{
	z-index: 2;
	min-height: 101px;
	padding-bottom: 20px;
}

#u167_align_to_page,#u168_align_to_page,#u95_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u97-5
{
	z-index: 3;
	width: 639px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 260px;
}

#u95-bw
{
	z-index: 2;
	min-height: 101px;
}

#u98
{
	z-index: 8;
	width: 169px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 495px;
}

#u103
{
	z-index: 9;
	width: 35px;
	min-height: 29px;
	margin-right: -10000px;
}

#u99
{
	z-index: 10;
	width: 35px;
	min-height: 29px;
	margin-right: -10000px;
	left: 45px;
}

#u105
{
	z-index: 11;
	width: 35px;
	min-height: 29px;
	margin-right: -10000px;
	left: 90px;
}

#u101
{
	z-index: 12;
	width: 35px;
	min-height: 29px;
	margin-right: -10000px;
	left: 134px;
}

#u287
{
	z-index: 42;
	width: 144px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 896px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 167px;
}

#page .verticalspacer
{
	clear: both;
}

