.subhead-serif
{
	font-family: gentium-book-basic-i7, serif;
}

.body
{
	font-family: gentium-book-basic-n4, serif;
}

.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u134-4,#u148-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u158-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u166-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u171-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u180-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u245-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u224-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u238-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u231-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u250-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u349-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u361-4
{
	font-family: gentium-book-basic-n4, serif;
}

#u370-4
{
	font-family: gentium-book-basic-n4, serif;
}

#widgetu354.frm-sub-st #u362-4 p,#widgetu354.frm-subm-err-st #u355-4 p,#widgetu354.frm-subm-ok-st #u357-4 p
{
	font-family: gentium-book-basic-i7, serif;
}

#u365-4
{
	font-family: gentium-book-basic-n4, serif;
}

#widgetu358_input,#widgetu358_prompt,#widgetu367_input,#widgetu367_prompt,#widgetu363_input,#widgetu363_prompt
{
	font-family: gentium-book-basic, serif;
}

