.subhead-serif
{
	font-family: gentium-book-basic-i7, serif;
}

.body
{
	font-family: gentium-book-basic-n4, serif;
}

.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u134-4,#u148-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u158-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u166-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u171-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u180-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u281-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u260-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u274-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u267-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u286-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u310-4
{
	font-family: gentium-book-basic-n4, serif;
}

